/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: rgb(68, 68, 68);
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content ul {
  display: flex;
}

.content ul li {
  list-style: none;
  width: 4rem;
  height: 4rem;
  background: var(--tertiaryColor);
  border-radius: 50%;
  animation: animate 1.6s ease-in-out infinite;
}

@keyframes animate {

  0%,
  40%,
  100% {
    transform: scale(0.2);
  }

  20% {
    transform: scale(1);
  }
}

.content ul li:nth-child(1) {
  animation-delay: -1.4s;
  background: red;
  box-shadow: 0 0 5rem red;
}

.content ul li:nth-child(2) {
  animation-delay: -1.2s;
  background: orange;
  box-shadow: 0 0 5rem orange;
}

.content ul li:nth-child(3) {
  animation-delay: -1s;
  background: yellow;
  box-shadow: 0 0 5rem yellow;
}

.content ul li:nth-child(4) {
  animation-delay: -.8s;
  background: green;
  box-shadow: 0 0 5rem green;
}

.content ul li:nth-child(5) {
  animation-delay: -.6s;
  background: blue;
  box-shadow: 0 0 5rem blue;
}

.content ul li:nth-child(6) {
  animation-delay: -.4s;
  background: indigo;
  box-shadow: 0 0 5rem indigo;
}

.content ul li:nth-child(7) {
  animation-delay: -.2s;
  background: violet;
  box-shadow: 0 0 5rem violet;
}